/.env
/.idea/
/.inspection/
/.output/
/.pytest_cache/
/.run/
/.venv/
/logs/
/tmp/
*.zip
__pycache__/
*/__pycache__/
*.py[cod]
*.log
*.egg-info/
*.lnk
catboost_info/
.patches/*.patch
!.patches/README.md
